/*
*********
TYPOGRAPHY
*********
*/

@use './variables' as *;

body {
  color: $font-primary;
  font-size: .875rem;
}

.navbar {
  color: #ababab;
  li:hover {
    color: $font-primary;
  }
}

.search-button {
  color: #ababab;
}

.star-list li {
  color: #ffd500;
}